[submodule "ros/ros-system-stats"]
	path = ros/ros-system-stats
	url = https://github.com/dheera/ros-system-stats
[submodule "ros/rplidar_ros"]
	path = ros/rplidar_ros
	url = https://github.com/dheera/rplidar_ros
[submodule "ros/ros-power-ina219"]
	path = ros/ros-power-ina219
	url = git@github.com:/dheera/ros-power-ina219
[submodule "ros/ros-motor-romeo-quad"]
	path = ros/ros-motor-romeo-quad
	url = git@github.com:/dheera/ros-motor-romeo-quad
[submodule "ros/ros-imu-bno055"]
	path = ros/ros-imu-bno055
	url = git@github.com:/dheera/ros-imu-bno055
