<launch>
  <node respawn="true" respawn_delay="2" ns="lidar" name="rplidarNode" pkg="rplidar_ros" type="rplidarNode" output="screen">
    <param name="serial_port"         type="string" value="/dev/rplidar0"/>
    <param name="serial_baudrate"     type="int"    value="115200"/>
    <param name="frame_id"            type="string" value="lidar"/>
    <param name="inverted"            type="bool"   value="false"/>
    <param name="angle_compensate"    type="bool"   value="true"/>
  </node>

  <node pkg="imu_bno055" type="bno055_i2c_node" name="bno055_i2c_node" ns="imu" respawn="true" respawn_delay="2"/>

  <node pkg="power_ina219" type="ina219_node" name="ina219_node_node" respawn="true" respawn_delay="2">
    <param name="rshunt" type="double" value="0.01"/>
  </node>

  <node pkg="motor" type="motor_node" name="motor_node" ns="motor" respawn="true" respawn_delay="2"/>

  <node pkg="status_system" type="status_system_node" name="status_system_node" ns="status" respawn="true" respawn_delay="2"/>

  <node pkg="remote" type="remote_node" name="remote_node" respawn="true" respawn_delay="2"/>

  <node pkg="motion" type="mecanum_openloop_node" name="mecanum_openloop_node" respawn="true" respawn_delay="2"/>

  <node pkg="avoidance" type="laserscan_avoidance_node" name="laserscan_avoidance_node" respawn="true" respawn_delay="2"/>
</launch>
