[Unit]
Description=Robot Service
After=syslog.target network.target

[Service]
Type=simple
User=pi
#ExecStartPre=/home/robby/bin/robot-stop
ExecStart=/bin/bash -c "cd /home/pi/catkin_ws && source devel/setup.bash && roslaunch /etc/robot.launch"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
