<launch>
  <node pkg="motor_pololu_qik" type="pololu_qik_node" name="pololu_qik_node" ns="motor">
    <param name="port" type="string" value="/dev/ttyS0"/>
  </node>

  <node respawn="true" respawn_delay="2" ns="lidar" name="rplidarNode" pkg="rplidar_ros" type="rplidarNode" output="screen">
    <param name="serial_port"         type="string" value="/dev/rplidar0"/>
    <param name="serial_baudrate"     type="int"    value="115200"/>
    <param name="frame_id"            type="string" value="lidar"/>
    <param name="inverted"            type="bool"   value="false"/>
    <param name="angle_compensate"    type="bool"   value="true"/>
  </node>

  <node pkg="imu_bno055" type="imu_bno055_node" name="imu_bno055_node" ns="imu"/>

  <node pkg="status_system" type="status_system_node" name="status_system_node" ns="status"/>
  <node pkg="motion" type="mecanum_openloop_node" name="mecanum_openloop_node"/>
  <node pkg="remote" type="remote_node" name="remote_node"/>
  <node pkg="avoidance" type="avoidance_node" name="avoidance_node"/>
</launch>
